---
export const prerender = true;
import { PrivacyPage } from "../../components/hackspain";
import SignupNavbar from "../../components/hackspain/SignupNavbar.astro";
import Layout from "../../layouts/Layout.astro";
import { privacyKeywords, privacySeo } from "../../data/landingMeta";
import { isLocale, type Locale } from "../../i18n/locales";

export function getStaticPaths() {
  return [{ params: { locale: "es" } }];
}

const { locale: loc } = Astro.params;
const locale: Locale = typeof loc === "string" && isLocale(loc) ? loc : "es";
const seo = privacySeo(locale);
const kw = privacyKeywords(locale);
---

<Layout
  locale={locale}
  sectionIndex={0}
  allowScroll
  title={seo.title}
  description={seo.description}
  ogImageAlt={seo.ogImageAlt}
  canonicalPathOverride="/es/privacy"
  hrefLangEnPathOverride="/privacy"
  hrefLangEsPathOverride="/es/privacy"
  hrefLangXDefaultPathOverride="/privacy"
  keywordsOverride={kw}
>
  <main id="main" class="relative min-h-dvh w-full">
    <div class="relative z-10 mx-auto max-w-3xl px-3 pt-6 sm:px-4 sm:pt-10">
      <SignupNavbar locale={locale} />
    </div>
    <PrivacyPage client:load locale={locale} />
  </main>
</Layout>
